$border-line: solid 1px #c6c1c1;
$brdr-ln-singup: solid 1px #979797;

$mn-bg-clr: #4a4a4a;

:root {
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
    font-family: "Roboto", sans-serif;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
}
/*typography utilities */
.roboto-font {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}
.roboto-mono-font {
    font-family: "Roboto Mono", monospace;
}
.damion-font {
    font-family: 'damion', sans-serif;
}
.rubik-font {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

body {
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 10vh;
        border-bottom: $border-line;
        background-color: white;
        z-index: 1;
        .content {
            display: flex;
            align-items: center;
            padding: 1.875rem;
            color: $mn-bg-clr;
            font-size: 1.5rem;
            font-family: "Roboto-Mono-Regular", monospace;
            a {
                vertical-align: bottom;
                line-height: 1.6;
                font-size: 1rem;
                color: $mn-bg-clr;  
            }
        }
        nav {
            ul {
                display: flex;
                li {
                    padding-left: 3.5rem;
                    a {
                        color: $mn-bg-clr;
                    }
                }
            }
        }
    }
    main {
        max-width: 1440px;
        min-width: 980px;
        margin-inline: auto;
        padding-bottom: 50px;
        @media only screen and (max-width: 980px) {
            border: 3px solid lime;
            top: 2.5625rem;
        }
        * {
            margin-bottom: 10%;
        }
        section.banner {
            width: 100%;
            background-image: url(/resources/images/banner-landingpage.jpg);
            margin-top: 0;
            display: block;
            margin: 10px 0;
            text-align: center;
            div.sign-up {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                height: 43.5rem;
                padding: 0 5rem 2.5rem;
                border: $brdr-ln-singup;
                border-radius: 4px;
                background-color: #9dc20b;
                width: 25.625rem;
                margin-top: 2rem;
                font-family: "Roboto", sans-serif;
                font-size: 1.25rem;
                line-height: 1.4;
                color: white;
                h2 {
                    font-size: 3.125rem;
                    font-family: "Rubik", sans-serif;
                    padding-bottom: 0.75rem;
                }
                h3 {
                    font-size: 2.25rem;
                    font-family: "Damion", cursive;
                }
                p {
                    strong {
                        font-weight: bold;
                    }
                }
                button {
                    border-radius: 4px;
                    background-color: $mn-bg-clr;
                    color: white;
                    margin-top: 1.625rem;
                    padding: 1.25rem 7.25rem;
                }
            }
        }
        section.features {
            display: inline-flex;
            padding: 30px 0;
            background-color: #f3f3f3;
            max-width: 100%;
            article {
                flex: 1 1 auto;
                margin: 0px 1.25rem;
                padding: 1.25rem 1rem 0;
                background-color: white;
                border: 1px dotted blue;
                .image-container {
                    width: 90%;
                    height: auto;
                    padding: 32px;
                    img {
                        width: 90%;
                        height: auto;
                        padding: 32px;
                    }
                }
                div {
                    text-align: center;
                    padding: 40px 0;
                    h2 {
                        padding-bottom: 0.5rem;
                        font-size: 2.25rem;
                        font-weight: bold;
                        color: #4a4a4a;
                    }
                    h3 {
                        font-size: 1rem;
                        line-height: 1.2;
                        font-weight: 300;
                        color: #4a4a4a;
                    }
                }
            }
        }
        section.filter {
            background-color: #4a4a4a;
            div.content {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 30px;
                padding: 30px;
            }
            div.content {
                color: white;
            }
            div.images-container {
                display: flex;
                justify-content: flex-start;
                gap: 30px;
                padding: 30px;
                picture {
                    flex: 1;
                    width: 100%;
                }
            }
        }
        section.quotes {
            background-color: #f3f3f3;
            div.content {
                padding: 5rem 0;
                p {
                    padding-right: 1.875rem;
                    font-family: "Palatino", serif;
                    font-size: 1.875rem;
                    line-height: 1.1;
                    font-style: italic;
                    color: #4a4a4a;
                }
                picture {
                    height: 1.875rem;
                }
            }
        }
    }
    footer {
        background-color: #9b9b9b;
        width: 100%;
        height: auto;
        div.content {
            color: white;
            font-size: 0.75rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5ch;
        }
    }

}

/* Header */

header .logo {
    flex: 1;
}

header .icon {
    width: 1rem;
    padding-left: 0.75rem;
}

header .small {
    display: none;
}

@media only screen and (max-width: 960px) {
    header .wide {
        display: none;
    }

    header .small {
        display: inline-block;
        width: 100%;
    }

    header .small ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    header .small li {
        padding: 0;
    }

    header .small .button {
        padding: 0.1875rem 0.5rem;
        background-color: #9dc20b;
        line-height: 1.6;
        color: white;
    }
}

/* Sign Up Section */

@media only screen and (max-width: 760px) {
    #sign-up-section {
        align-items: center;
        justify-content: center;
        height: 28rem;
    }

    #sign-up-cta .email {
        display: none;
    }

    #sign-up-cta h1 {
        font-size: 3.125rem;
    }

    #sign-up-cta h2 {
        font-size: 2.25rem;
    }
}

@media only screen and (max-width: 450px) {
    #sign-up-section {
        height: 20rem;
    }

    #sign-up-cta h1 {
        font-size: 2.25rem;
    }

    #sign-up-cta h2 {
        font-size: 2rem;
    }
}

/* Features Section */


@media only screen and (max-width: 890px) {
    .feature h2 {
        font-size: 1.125rem;
        line-height: 1.3;
        font-weight: normal;
    }
}

@media only screen and (max-width: 760px) {
    #features-section {
        flex-flow: column;
        padding: 0;
    }
}
/* Filters Section */


@media only screen and (max-width: 980px) {
    .image-container {
        flex-wrap: wrap;
    }
}

/* Quotes Section */

@media only screen and (max-width: 760px) {
    #quotes-section content {
        padding: 1.875rem 0.625rem;
    }

    #quotes-section quote {
        font-size: 1.5rem;
        line-height: 1.4;
    }

    #quotes-section quote-citation {
        display: block;
        padding-top: 1rem;
        margin: auto;
    }
}

/* Footer */

footer {
    
}

footer > .content {
    
}

// footer .copyright {

// }
// footer .location {

// }

// footer: @media only screen and (min-width: 760px) {
//     footer .content {
//         font-size: 0.625rem;
//     }
// }